.navbar {
    position: sticky;
    top: 0;
    right: 0;
    width: 100vw;
    min-height: 10vh;
    padding: 1vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
    padding: 0 3vw 0 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 10;
}

.search-icon {
    height: 1.5em;
    width: 1.5em;
}

.search-button {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.newspaper-logo {
    height: 1.5em;
}