.search-navbar {
    position: sticky;
    top: 0;
    right: 0;
    width: 100vw;
    min-height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
    display: flex;
    padding: 0vh 1vw 0vh 1vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 10;
}

.query-box {
    width: 30vw;
    height: 5vh;
    font-size: medium;
}

.filters label {
    margin-left: 1em;
}

.filters label * {
    margin-left: 0.2em;
}

.newspaper-logo {
    height: 1.2em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-query-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0 2vh 0;
}

.width-30vw {
    width: 30vw;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.err {
    color: red;
    text-align: center;
    margin: auto;
}
.home-icon{
    height: 1.5em;
    padding-right: 2vw;
}